<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EnterNumberOfPacks" value="Please enter Number of Packs between 1 and 100 -"/>
    <add key="InvalidNumberOfPacks" value="You entered invalid Number of Packs."/>
    <add key="SelectMatchCondition" value="Please select match condition 1 for FaceValue, 2 for Suit, 3 for Both -"/>
    <add key="WrongMatchCondition" value="You selected wrong match condition."/>
    <add key="InvalidMatchCondition" value="Invalid match condition."/>
    <add key="Player1" value="Player 1"/>
    <add key="Player2" value="Player 2"/>
  </appSettings>
</configuration>